* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 99vh;
    margin: 0 auto;
}

.main_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
}

.input_table {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.input_block {
    text-align: center;
}

.input {
    width: 100px;
    margin-right: 5px;
    padding: 2px;
    border: 1px solid rgb(83, 59, 179); 
    border-radius: 3px;
    text-align: center;
}

.main-btn_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin-top: 10px;
}

.chart {
    width: 900px;
    height: 450px;
    margin-top: 20px;
    border-top: 2px solid rgb(83, 59, 179);
    border-bottom: 2px solid rgb(83, 59, 179);
}

.btn_block {
    display: flex;
    justify-content: space-around;
    width: 800px;
    padding: 10px;
}
.btn_block_sideblock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
}

.btn_block_sideblock:first-of-type {
    padding-right: 50px;
    border-right: 2px solid rgb(83, 59, 179);
}

.btn_block .btn {
    margin: 5px;
}

.btn {
    padding: 5px;
    border: 2px solid rgb(83, 59, 179); 
    border-radius: 5px;
    background-color: transparent;
    font-size: 15px;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(83, 59, 179);
    color: #fff;
}

.coefficients-output {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
}

.coefficients-output:first-of-type {
    margin-bottom: 20px;
}

.coefficients_item {
    padding: 0px 40px;
    text-align: center;
    font-size: 14px;
}

.coefficients_item_title {
    border-bottom: 1px solid rgb(2, 21, 50);
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: rgb(2, 21, 50);
}

.coefficients_list_item {
    margin: 6px;
    border-bottom: 1px solid rgb(44, 125, 247);
}

.coefficients_list_item:last-of-type {
    margin: 0;
    border: none;
}

.scheme-canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}



.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 1150px;
    height: 700px;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
}

.close-btn {
    position: relative;
    top: -1%;
    left: 98.5%;
    color: rgb(83, 59, 179);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.canvas-holder {
    width: 100%;
    padding-top: 10px;
    border-top: 2px solid rgb(83, 59, 179);
    overflow: scroll;
}

.hide {
    display: none;
}
